#root::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./back-1.jpg");
  background-color: var(--c1-transparent);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -2;
}
